venv/
__pycache__/
.pytest_cache
test_ouput.log
unscammed.exe

/resources/__pycache__/

/training/__pycache__/
/training/.ipynb_checkpoints/
/training/Classification_Notebook_NB.ipynb
/training/Classification_Notebook_LG.ipynb
/training/Classification_Notebook_SVM.ipynb


